$dark-background: #1F2124;
$side-panel: #414345;
$bright-orange: #F68657;
$golden-yellow: #F4D03F;
$light-red: #F65252;


/*----Basic styles----------------*/

#success {
   display: inline-block;
   position: relative;
   top: 7px;
   visibility: hidden;
}

body {
    font-family: 'Lato',  sans-serif;
    background: #232526;
    background: -webkit-linear-gradient(to left, #232526 , #414345);
    background: linear-gradient(to left, #232526 , #414345);
    color: white;
}

h1, h2, h3, h4 {
   font-family: 'Montserrat', sans-serif;
   font-weight: 700;
   margin-bottom: .55em;
   letter-spacing: -1px;
}

h1 {
  font-size: 3em;
  line-height: .85;

  .sub-title {
    text-transform: uppercase;
    font-size: 65%;
  }
}

h2 {
   font-size: 2em;
}

a {
  color: $golden-yellow;
  &:hover {
     color:white;
 }
}

img {
   margin-top: 1.5em;
}

// Modal styling
.modal {
  font-size: 1.5em;
  color: #464646;
  z-index: 10000;

  & ul {
   list-style: none;
   padding-left: 0;

   & li {
      padding-bottom: 10px;
   }
  }

  & a {
  color: $golden-yellow;
  }
}

.modal-body {
   padding: 20px 30px;
}
.modal-header {
   background: $golden-yellow;
   button {
      color: #464646;
   }

   & .close {
      font-size: 30px;
   }
}

.modal-footer {
   padding-top: 0;
   padding-bottom: 0;

   button {
      font-size: 1em;
      color: #464646;
      margin-top: 0;
   }
}

.creators {
   & a {
      color: $bright-orange;
   }
}




.wrapper {
  padding-left:350px;
  padding-right: 50px;
}

.btn {
   font-size: 1.5em;
   font-weight: 700;
   border: none;
   margin-top: .75em;
   background: transparent;
   color: #FFF;

   &.btn-default {
      background: $bright-orange;
      &:hover {
         color: #FFF;
         background: lighten($bright-orange, 10%);
      }
   }
   &.btn-primary{
      background: $golden-yellow;
      // border: 1px solid $golden-yellow;
      &:hover {
         background: lighten($golden-yellow, 10%);
      }
   }
}

.callouts {
   text-align: center;

   p {
      text-align: left;
   }
}


/*----Side bar----------------*/
.timeline {
  list-style: none;
  position: relative;
  padding-bottom: 180px;
 }

.timeline:before {
 top: 0;
 bottom: 0;
 position: absolute;
 content: " ";
 width: 3px;
 background-color: #FFF;
 margin-left: -1.5px;
 }

.time-node {
  width: 25px;
  height: 25px;
  position: relative;
  top: 38px;
  margin-left: -12px;
  background-color: #FFF;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.active-node {
  background-color: $golden-yellow;
}

.sidebar {
  width: 300px;
  position: fixed;
  left: 300px;
  height:100%;
  background: #232526;
  background: -webkit-linear-gradient(to right, #232526 , #3A3C3E);
  background: linear-gradient(to right, #232526 , #3A3C3E);
  margin-left: -300px;
  padding: 0 10px;
  // overflow: scroll;
  // overflow-x: hidden;


  a {
     color: #FFF;
 }

  a:hover {
    text-decoration: none;
    color: #FFF;
    border-bottom: solid 2px #FFF;
    display: inline;
    padding-bottom: 1.5px;
  }

  a.active-link {
    border-bottom: solid 3px $golden-yellow;
    display: inline;
    padding-bottom: 1.5px;

    &:hover {
      text-decoration: none;
    }

  }

  & ul {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    letter-spacing: -.8px;
    list-style-type: none;
    padding-left: 15px;

    & li {
      margin-top:10px;
      padding-left: 20px;
      font-size: 1.55em;
    }

    & ul {
      font-size: .8em;
   }
  }

  .nav-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }


  .about {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 300px;
    z-index: 1000;

    & button {
      font-size: 1.50em;
      padding:10px;
      width:100%;
      background: #232526;
      background: -webkit-linear-gradient(to right, #232526 , #3A3C3E);
      background: linear-gradient(to right, #232526 , #3A3C3E);
      border:0;
      // -webkit-transition: background-color .1s;
      // transition: background-color .1s;

      &:hover {
        background: darken($golden-yellow, 10%);
      }
    }
}
}
/*----Content Area----------------*/

.content {
 padding-top: 2.5em;
 padding-bottom: 2.5em;

 p {
   font-size: 1.5em;
 }

 ul {
   list-style: none;
   padding-left: 0px;

   & li {
     font-size: 1.5em;
     padding-top: .5em;
   }
 }
}

.sub-nav {
  font-size: 1em;
  color: $golden-yellow;

  & .sub-nav-icon {
     font-size: 1.5em;

     &.right-icon {
        float:right;
        padding-left: 5px;
     }
 }

 & .sub-nav-text {
    display:block; font-size:.8em;
    font-style: italic;
    color: white;

    &.left-text {
      padding-left: 2.7em;
   }

   &.right-text {
      padding-right: 2.7em;
   }
}
  & i:first-child {
    padding-right: .5em;
  }

  & i:last-child {
    padding-left: .5em;
  }

  & a {
    font-size: 1.5em;

    &:hover {
    color: darken(#FFF, 10%);
    }

  }
}

.back {
   display: inline-block;
   // margin-bottom: 1em;
}

.forward {
  position: absolute;
  right: 50px;
  display: inline-block;
  text-align: right;
}

.interstitial {
   text-align: center;
   & img {
      max-width: 300px;
   }
    & p {
      margin: 15px auto;
   }

   & a {
      font-size: 1.5em;
   }
}


/*----Data Visualizations----------------*/

.graph {
  & h1 {
    font-size: 2em;
    margin-bottom: 0;
    line-height: 1.25em;
  }
}

text.c3-axis-y-label {
  font-size: 1.10em;
}


// Mobile styling
/*----Mobile nav-----*/
.mobile {
   display: inline-block;
   font-size: 1.5em;
   margin-bottom: 1em;
   color: white;
}


@media only screen and (min-width: 1001px) {
   nav.mobile {
      display: none;
   }

   .mobile-close {
      display: none;

   }

   p {
      max-width: 900px;
   }
}

@media only screen and (max-width: 1000px) {
   nav.mobile {
      cursor: pointer;
   }

   .mobile-close {
      display: block;
      padding: 15px;
      text-align: center;
      font-size: 1.5em;
      cursor: pointer;

   }

   .hover-color {
      color: $golden-yellow;
   }

   h1 {
      font-size: 2.25em;
   }

   h2 {
      font-size: 1.75em;
   }

   .content p {
      font-size: 1.25em;
   }

   #main-page-content {
      padding-top: 0;
   }
   .graph h1 {
      font-size: 1.5em;
   }

   .about {
      font-size: 1em;
   }

   nav.sidebar {
      left: -300px;
      overflow: scroll;
      overflow-x: hidden;
      padding: 0;

      & .about {
         position:relative;
         width: 290px;
      }

      & .timeline {
         padding-bottom: 40px;
      }
   }

   .sidebar ul li {
      font-size: 1.35em;
   }

   .content {
      margin-bottom: 20px;
   }
   .mobile-push {
      left: 300px!important;
      z-index: 1200;
   }

   .sub-nav {
      & a {
         font-size: 1.35em;
      }
      & .sub-nav-icon {
         font-size: 1.35em;
      }
      & .back {
         margin-left: 1em;
      }

   }


   .wrapper {
      padding-left: 0px;
      padding-right: 0px;
   }
}

@media only screen and (max-width: 700px) {
   .sub-nav-text {
      display: none!important;
   }

   .forward {
      padding-top: 2px;
   }
}

@media only screen and (max-width: 450px) {
   .mobile {
      display: block;
   }
   .forward {
      padding-top: 0px;
   }

   .back {
      margin-left: 0px!important;
   }

   text.c3-axis-y-label {
     font-size: .85em;
   }
   .c3 text {
      font-size: .85em;
   }
}
