/*----Basic styles----------------*/
/* line 34, ../app.scss */
#success {
  display: inline-block;
  position: relative;
  top: 7px;
  visibility: hidden;
}

/* line 41, ../app.scss */
body {
  font-family: 'Lato',  sans-serif;
  background: #232526;
  background: -webkit-linear-gradient(to left, #232526, #414345);
  background: linear-gradient(to left, #232526, #414345);
  color: white;
}

/* line 49, ../app.scss */
h1, h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  margin-bottom: .55em;
  letter-spacing: -1px;
}

/* line 56, ../app.scss */
h1 {
  font-size: 3em;
  line-height: .85;
}
/* line 60, ../app.scss */
h1 .sub-title {
  text-transform: uppercase;
  font-size: 65%;
}

/* line 66, ../app.scss */
h2 {
  font-size: 2em;
}

/* line 70, ../app.scss */
a {
  color: #f4d03f;
}
/* line 72, ../app.scss */
a:hover {
  color: white;
}

/* line 77, ../app.scss */
img {
  margin-top: 1.5em;
}

/* line 82, ../app.scss */
.modal {
  font-size: 1.5em;
  color: #464646;
  z-index: 10000;
}
/* line 87, ../app.scss */
.modal ul {
  list-style: none;
  padding-left: 0;
}
/* line 91, ../app.scss */
.modal ul li {
  padding-bottom: 10px;
}
/* line 96, ../app.scss */
.modal a {
  color: #f4d03f;
}

/* line 101, ../app.scss */
.modal-body {
  padding: 20px 30px;
}

/* line 104, ../app.scss */
.modal-header {
  background: #f4d03f;
}
/* line 106, ../app.scss */
.modal-header button {
  color: #464646;
}
/* line 110, ../app.scss */
.modal-header .close {
  font-size: 30px;
}

/* line 115, ../app.scss */
.modal-footer {
  padding-top: 0;
  padding-bottom: 0;
}
/* line 119, ../app.scss */
.modal-footer button {
  font-size: 1em;
  color: #464646;
  margin-top: 0;
}

/* line 127, ../app.scss */
.creators a {
  color: #f68657;
}

/* line 135, ../app.scss */
.wrapper {
  padding-left: 350px;
  padding-right: 50px;
}

/* line 140, ../app.scss */
.btn {
  font-size: 1.5em;
  font-weight: 700;
  border: none;
  margin-top: .75em;
  background: transparent;
  color: #FFF;
}
/* line 148, ../app.scss */
.btn.btn-default {
  background: #f68657;
}
/* line 150, ../app.scss */
.btn.btn-default:hover {
  color: #FFF;
  background: #f9a987;
}
/* line 155, ../app.scss */
.btn.btn-primary {
  background: #f4d03f;
}
/* line 158, ../app.scss */
.btn.btn-primary:hover {
  background: #f7dc6f;
}

/* line 164, ../app.scss */
.callouts {
  text-align: center;
}
/* line 167, ../app.scss */
.callouts p {
  text-align: left;
}

/*----Side bar----------------*/
/* line 174, ../app.scss */
.timeline {
  list-style: none;
  position: relative;
  padding-bottom: 180px;
}

/* line 180, ../app.scss */
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #FFF;
  margin-left: -1.5px;
}

/* line 190, ../app.scss */
.time-node {
  width: 25px;
  height: 25px;
  position: relative;
  top: 38px;
  margin-left: -12px;
  background-color: #FFF;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

/* line 204, ../app.scss */
.active-node {
  background-color: #f4d03f;
}

/* line 208, ../app.scss */
.sidebar {
  width: 300px;
  position: fixed;
  left: 300px;
  height: 100%;
  background: #232526;
  background: -webkit-linear-gradient(to right, #232526, #3a3c3e);
  background: linear-gradient(to right, #232526, #3a3c3e);
  margin-left: -300px;
  padding: 0 10px;
}
/* line 222, ../app.scss */
.sidebar a {
  color: #FFF;
}
/* line 226, ../app.scss */
.sidebar a:hover {
  text-decoration: none;
  color: #FFF;
  border-bottom: solid 2px #FFF;
  display: inline;
  padding-bottom: 1.5px;
}
/* line 234, ../app.scss */
.sidebar a.active-link {
  border-bottom: solid 3px #f4d03f;
  display: inline;
  padding-bottom: 1.5px;
}
/* line 239, ../app.scss */
.sidebar a.active-link:hover {
  text-decoration: none;
}
/* line 245, ../app.scss */
.sidebar ul {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  letter-spacing: -0.8px;
  list-style-type: none;
  padding-left: 15px;
}
/* line 252, ../app.scss */
.sidebar ul li {
  margin-top: 10px;
  padding-left: 20px;
  font-size: 1.55em;
}
/* line 258, ../app.scss */
.sidebar ul ul {
  font-size: .8em;
}
/* line 263, ../app.scss */
.sidebar .nav-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
/* line 271, ../app.scss */
.sidebar .about {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 300px;
  z-index: 1000;
}
/* line 278, ../app.scss */
.sidebar .about button {
  font-size: 1.50em;
  padding: 10px;
  width: 100%;
  background: #232526;
  background: -webkit-linear-gradient(to right, #232526, #3a3c3e);
  background: linear-gradient(to right, #232526, #3a3c3e);
  border: 0;
}
/* line 289, ../app.scss */
.sidebar .about button:hover {
  background: #f1c40f;
}

/*----Content Area----------------*/
/* line 297, ../app.scss */
.content {
  padding-top: 2.5em;
  padding-bottom: 2.5em;
}
/* line 301, ../app.scss */
.content p {
  font-size: 1.5em;
}
/* line 305, ../app.scss */
.content ul {
  list-style: none;
  padding-left: 0px;
}
/* line 309, ../app.scss */
.content ul li {
  font-size: 1.5em;
  padding-top: .5em;
}

/* line 316, ../app.scss */
.sub-nav {
  font-size: 1em;
  color: #f4d03f;
}
/* line 320, ../app.scss */
.sub-nav .sub-nav-icon {
  font-size: 1.5em;
}
/* line 323, ../app.scss */
.sub-nav .sub-nav-icon.right-icon {
  float: right;
  padding-left: 5px;
}
/* line 329, ../app.scss */
.sub-nav .sub-nav-text {
  display: block;
  font-size: .8em;
  font-style: italic;
  color: white;
}
/* line 334, ../app.scss */
.sub-nav .sub-nav-text.left-text {
  padding-left: 2.7em;
}
/* line 338, ../app.scss */
.sub-nav .sub-nav-text.right-text {
  padding-right: 2.7em;
}
/* line 342, ../app.scss */
.sub-nav i:first-child {
  padding-right: .5em;
}
/* line 346, ../app.scss */
.sub-nav i:last-child {
  padding-left: .5em;
}
/* line 350, ../app.scss */
.sub-nav a {
  font-size: 1.5em;
}
/* line 353, ../app.scss */
.sub-nav a:hover {
  color: #e6e6e6;
}

/* line 360, ../app.scss */
.back {
  display: inline-block;
}

/* line 365, ../app.scss */
.forward {
  position: absolute;
  right: 50px;
  display: inline-block;
  text-align: right;
}

/* line 372, ../app.scss */
.interstitial {
  text-align: center;
}
/* line 374, ../app.scss */
.interstitial img {
  max-width: 300px;
}
/* line 377, ../app.scss */
.interstitial p {
  margin: 15px auto;
}
/* line 381, ../app.scss */
.interstitial a {
  font-size: 1.5em;
}

/* line 386, ../app.scss */
#share-button {
  margin-bottom: 15px;
}

/*----Data Visualizations----------------*/
/* line 395, ../app.scss */
.graph h1 {
  font-size: 2em;
  margin-bottom: 0;
  line-height: 1.25em;
}

/* line 402, ../app.scss */
text.c3-axis-y-label {
  font-size: 1.10em;
}

/* line 406, ../app.scss */
text.c3-chart-arcs-title {
  fill: #FFF;
  font-size: .9em;
}

/* line 411, ../app.scss */
#industry-wrapper {
  text-align: center;
  margin-top: 10px;
}
/* line 415, ../app.scss */
#industry-wrapper span {
  display: inline-block;
  font-size: 1em;
  margin-top: 15px;
  margin-left: 15px;
}

/* line 423, ../app.scss */
#yearsExpMobile {
  display: none;
}

/* line 427, ../app.scss */
#positionMobile {
  display: none;
}

/* line 431, ../app.scss */
#describeBackgroundMobile {
  display: none;
}

/* line 435, ../app.scss */
#industryMobile {
  display: none;
}

/* line 439, ../app.scss */
#toolsMobile {
  display: none;
}

/* line 443, ../app.scss */
#tasksMobile {
  display: none;
}

/* line 447, ../app.scss */
#growthAreasMobile {
  display: none;
}

/* line 451, ../app.scss */
#futureSkillsMobile {
  display: none;
}

/*----Mobile nav-----*/
/* line 457, ../app.scss */
.mobile {
  display: inline-block;
  font-size: 1.5em;
  margin-bottom: 1em;
  color: white;
}

@media only screen and (min-width: 1001px) {
  /* line 466, ../app.scss */
  nav.mobile {
    display: none;
  }

  /* line 470, ../app.scss */
  .mobile-close {
    display: none;
  }

  /* line 475, ../app.scss */
  p {
    max-width: 900px;
  }
}
@media only screen and (max-width: 1000px) {
  /* line 482, ../app.scss */
  nav.mobile {
    cursor: pointer;
  }

  /* line 486, ../app.scss */
  .mobile-close {
    display: block;
    padding: 15px;
    text-align: center;
    font-size: 1.5em;
    cursor: pointer;
  }

  /* line 495, ../app.scss */
  .hover-color {
    color: #f4d03f;
  }

  /* line 499, ../app.scss */
  h1 {
    font-size: 2.25em;
  }

  /* line 503, ../app.scss */
  h2 {
    font-size: 1.75em;
  }

  /* line 507, ../app.scss */
  .content p {
    font-size: 1.25em;
  }

  /* line 511, ../app.scss */
  #main-page-content {
    padding-top: 0;
  }

  /* line 514, ../app.scss */
  .graph h1 {
    font-size: 2em;
  }

  /* line 518, ../app.scss */
  .about {
    font-size: 1em;
  }

  /* line 522, ../app.scss */
  nav.sidebar {
    left: -300px;
    overflow: scroll;
    overflow-x: hidden;
    padding: 0;
  }
  /* line 528, ../app.scss */
  nav.sidebar .about {
    position: relative;
    width: 290px;
  }
  /* line 533, ../app.scss */
  nav.sidebar .timeline {
    padding-bottom: 40px;
  }

  /* line 538, ../app.scss */
  .sidebar ul li {
    font-size: 1.35em;
  }

  /* line 542, ../app.scss */
  .content {
    margin-bottom: 20px;
  }

  /* line 545, ../app.scss */
  .mobile-push {
    left: 300px!important;
    z-index: 1200;
  }

  /* line 551, ../app.scss */
  .sub-nav a {
    font-size: 1.35em;
  }
  /* line 554, ../app.scss */
  .sub-nav .sub-nav-icon {
    font-size: 1.35em;
  }
  /* line 557, ../app.scss */
  .sub-nav .back {
    margin-left: 1em;
  }

  /* line 563, ../app.scss */
  .wrapper {
    padding-left: 0px;
    padding-right: 0px;
  }

  /* line 567, ../app.scss */
  .graph {
    text-align: center;
  }
}
@media only screen and (max-width: 700px) {
  /* line 573, ../app.scss */
  .sub-nav-text {
    display: none!important;
  }

  /* line 577, ../app.scss */
  .forward {
    padding-top: 2px;
  }

  /* line 580, ../app.scss */
  .tick text {
    font-size: .8em;
  }
}
@media only screen and (max-width: 450px) {
  /* line 587, ../app.scss */
  .graph h1 {
    font-size: 1.5em;
  }

  /* line 592, ../app.scss */
  .sub-nav a {
    font-size: 1.15em;
  }

  /* line 597, ../app.scss */
  .forward {
    padding-top: 3px;
  }

  /* line 601, ../app.scss */
  .mobile {
    display: block;
  }

  /* line 605, ../app.scss */
  .back {
    margin-left: 0px!important;
  }

  /* line 609, ../app.scss */
  text.c3-axis-y-label {
    font-size: .85em;
  }

  /* line 613, ../app.scss */
  .c3-axis-x-label text {
    font-size: .85em;
  }

  /* line 617, ../app.scss */
  .c3 text {
    font-size: .65em;
  }

  /* line 620, ../app.scss */
  .c3-axis-y text {
    font-size: .60em;
  }

  /* line 624, ../app.scss */
  .c3-chart-arcs-title {
    font-size: .8em;
  }

  /* line 628, ../app.scss */
  #share-button {
    margin-bottom: 15px;
  }

  /* line 634, ../app.scss */
  #yearsExpMobile {
    display: block;
  }

  /* line 637, ../app.scss */
  #yearsExp {
    display: none;
  }

  /* line 642, ../app.scss */
  #position {
    display: none;
  }

  /* line 646, ../app.scss */
  #positionMobile {
    display: block;
  }

  /* line 651, ../app.scss */
  #describeBackgroundMobile {
    display: block;
  }

  /* line 654, ../app.scss */
  #describeBackground {
    display: none;
  }

  /* line 659, ../app.scss */
  #industry {
    display: none;
  }

  /* line 662, ../app.scss */
  #industryMobile {
    display: block;
  }

  /* line 668, ../app.scss */
  #tasks {
    display: none;
  }

  /* line 672, ../app.scss */
  #tasksMobile {
    display: block;
  }

  /* line 677, ../app.scss */
  #tools {
    display: none;
  }

  /* line 681, ../app.scss */
  #toolsMobile {
    display: block;
  }

  /* line 686, ../app.scss */
  #growthAreas {
    display: none;
  }

  /* line 690, ../app.scss */
  #growthAreasMobile {
    display: block;
  }

  /* line 695, ../app.scss */
  #futureSkills {
    display: none;
  }

  /* line 699, ../app.scss */
  #futureSkillsMobile {
    display: block;
  }
}
