/*----Basic styles----------------*/
/* line 10, ../app.scss */
body {
  font-family: 'Lato',  sans-serif;
  background: #232526;
  background: -webkit-linear-gradient(to left, #232526, #414345);
  background: linear-gradient(to left, #232526, #414345);
  color: white;
}

/* line 18, ../app.scss */
h1, h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  margin-bottom: .25em;
  letter-spacing: -1px;
}

/* line 25, ../app.scss */
h1 {
  font-size: 3em;
  line-height: .85;
}
/* line 29, ../app.scss */
h1 .sub-title {
  text-transform: uppercase;
  font-size: 65%;
}

/* line 35, ../app.scss */
h2 {
  font-size: 2em;
}

/* line 39, ../app.scss */
a {
  color: #f4d03f;
}
/* line 41, ../app.scss */
a:hover {
  color: white;
}

/* line 47, ../app.scss */
.modal-body a {
  color: #464646;
}

/* line 54, ../app.scss */
.wrapper {
  padding-left: 350px;
  padding-right: 50px;
}

/* line 59, ../app.scss */
.btn {
  font-size: 1.5em;
  font-weight: 700;
  border: none;
  margin-top: .75em;
  background: transparent;
}
/* line 66, ../app.scss */
.btn.btn-primary {
  color: #f68657;
  border: 1px solid #f68657;
}
/* line 69, ../app.scss */
.btn.btn-primary:hover {
  color: #FFF;
  background: #f68657;
}
/* line 74, ../app.scss */
.btn.btn-default {
  color: #f4d03f;
  border: 1px solid #f4d03f;
}
/* line 77, ../app.scss */
.btn.btn-default:hover {
  color: #FFF;
  background: #f4d03f;
}

/* line 84, ../app.scss */
.callouts {
  text-align: center;
}
/* line 87, ../app.scss */
.callouts p {
  text-align: left;
}

/*----Side bar----------------*/
/* line 92, ../app.scss */
.timeline {
  list-style: none;
  position: relative;
  padding-bottom: 78px;
}

/* line 98, ../app.scss */
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #FFF;
  margin-left: -1.5px;
}

/* line 108, ../app.scss */
.time-node {
  width: 25px;
  height: 25px;
  position: relative;
  top: 38px;
  margin-left: -12px;
  background-color: #FFF;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

/* line 122, ../app.scss */
.active-node {
  background-color: #f4d03f;
}

/* line 126, ../app.scss */
.sidebar {
  width: 300px;
  position: fixed;
  left: 300px;
  height: 100%;
  background: #232526;
  background: -webkit-linear-gradient(to right, #232526, #3a3c3e);
  background: linear-gradient(to right, #232526, #3a3c3e);
  margin-left: -300px;
  padding: 0 10px;
}
/* line 137, ../app.scss */
.sidebar a {
  color: #FFF;
}
/* line 141, ../app.scss */
.sidebar a:hover {
  text-decoration: none;
  color: #FFF;
  border-bottom: solid 2px #FFF;
  display: inline;
  padding-bottom: 1.5px;
}
/* line 149, ../app.scss */
.sidebar a.active-link {
  border-bottom: solid 3px #f4d03f;
  display: inline;
  padding-bottom: 1.5px;
}
/* line 154, ../app.scss */
.sidebar a.active-link:hover {
  text-decoration: none;
}
/* line 160, ../app.scss */
.sidebar ul {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  letter-spacing: -1px;
  list-style-type: none;
  padding-left: 15px;
}
/* line 167, ../app.scss */
.sidebar ul li {
  margin-top: 10px;
  padding-left: 20px;
  font-size: 1.55em;
}
/* line 173, ../app.scss */
.sidebar ul ul {
  font-size: .8em;
}
/* line 178, ../app.scss */
.sidebar .nav-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
/* line 186, ../app.scss */
.sidebar .about {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 300px;
  z-index: 1000;
}
/* line 193, ../app.scss */
.sidebar .about button {
  font-size: 1.50em;
  padding: 10px;
  width: 100%;
  background: #232526;
  background: -webkit-linear-gradient(to right, #232526, #3a3c3e);
  background: linear-gradient(to right, #232526, #3a3c3e);
  border: 0;
  -webkit-transition: background-color .25s;
  transition: background-color .25s;
}
/* line 204, ../app.scss */
.sidebar .about button:hover {
  background: #f1c40f;
}

/*----Content Area----------------*/
/* line 212, ../app.scss */
.content {
  padding-top: 2.5em;
}
/* line 215, ../app.scss */
.content p {
  font-size: 1.5em;
  max-width: 750px;
}
/* line 220, ../app.scss */
.content ul {
  list-style: none;
  padding-left: 0px;
}
/* line 224, ../app.scss */
.content ul li {
  font-size: 1.5em;
  padding-top: .5em;
}

/* line 231, ../app.scss */
.sub-nav {
  font-size: 1em;
  color: #f4d03f;
}
/* line 236, ../app.scss */
.sub-nav .sub-nav-icon {
  font-size: 1.5em;
}
/* line 239, ../app.scss */
.sub-nav .sub-nav-icon.right-icon {
  float: right;
  padding-left: 5px;
}
/* line 245, ../app.scss */
.sub-nav .sub-nav-text {
  display: block;
  font-size: .8em;
  font-style: italic;
  color: white;
}
/* line 250, ../app.scss */
.sub-nav .sub-nav-text.left-text {
  padding-left: 2.7em;
}
/* line 254, ../app.scss */
.sub-nav .sub-nav-text.right-text {
  padding-right: 2.7em;
}
/* line 258, ../app.scss */
.sub-nav i:first-child {
  padding-right: .5em;
}
/* line 262, ../app.scss */
.sub-nav i:last-child {
  padding-left: .5em;
}
/* line 266, ../app.scss */
.sub-nav a {
  font-size: 1.5em;
}
/* line 269, ../app.scss */
.sub-nav a:hover {
  color: #e6e6e6;
}

/* line 276, ../app.scss */
.back {
  margin-bottom: 1em;
}

/* line 280, ../app.scss */
.forward {
  text-align: right;
}

/*----Data Visualizations----------------*/
/* line 287, ../app.scss */
.graph h1 {
  font-size: 2em;
  margin-bottom: 0;
  line-height: 1.25em;
}

/* line 294, ../app.scss */
text.c3-axis-y-label {
  font-size: 1.10em;
}
